.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    margin-left: 4rem; 
  }
  
  .containerlogo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: right;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 3em;
    background-color: #E1E1E1;
    border-radius: 2em;
    /*
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    padding-left:3rem ;
    padding-right: 3rem;
    */
  }

  
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adicione um preenchimento para afastar do conteúdo ao redor */
  }
  
  .InputsdePreenchimento {
    display: flex;
    flex-wrap: wrap;;

  }
  
  .InputsdePreenchimento label {
    margin-right: 3em; 
    margin-top: 3em;
  }
  
  .InputsdePreenchimento label:last-child {
    margin-right: 0;
  }

input{
  width: 16em;
  height: 2em;
}
.flexBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.formInput{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.formInput label{
  margin-bottom: 2px;
  font-weight: bold;
}

.buttonSubmit{
  padding: 10px 30px;
  color: #fff;
  background-color: #2D9CDB;
  border:1px solid #2D9CDB;
  border-radius: 15px;
}
.buttonSubmit:hover{
  color:#2D9CDB;
  background-color: #fff;
}
  